.content_title { margin: 0; padding: 0; margin-bottom: 1em; font-size: 1em; }
.userList { margin: 0; padding: 0; list-style: none; }
.userList li { padding: 10px 1em; border-bottom: 1px solid #ccc; overflow: hidden; }