<!DOCTYPE html>
<html>
<head>
	<title>Web qq</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
	<link rel="stylesheet" href="./template/js/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" type="text/css" href="./template/css/common.css">
	<link rel="stylesheet" type="text/css" href="./template/css/index.css">
	<script src="./template/js/jquery-2.2.2.min.js"></script>
	<script src="./template/js/jquery.mobile-1.4.5.min.js"></script>
</head>
<body data-theme="a">
	<header data-role="header" data-position="fixed">
		<h1>Web QQ</h1>
	</header>
	<div data-role="content">
		<h2 class="content_title">好友(<span><%=: friends.length%></span>)</h2>
		<ul class="userList">
			<% for(var i=0; i < friends.length; i++) {%>
				<li id="<%=: friends[i].id %>">
					<span class="l"><%=: friends[i].name %></span>
					<span class="r">[离线]</span>
				</li>
			<%}%>
		</ul>
	</div>
	<footer data-role="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="#" data-icon="grid">联系人</a></li>
				<li><a href="#" data-icon="search">加友</a></li>
				<li><a href="#" data-icon="gear">设置</a></li>
			</ul>
		</div>
	</footer>
	<script type="text/javascript" src="./template/js/jquery-2.2.2.min.js"></script>
	<script type="text/javascript" src="./template/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="./template/js/index.js"></script>
</body>
</html>